@import url('https://fonts.googleapis.com/css?family=Raleway:200,300,400,500,600,700');


* {
padding: 0; 
margin: 0;
box-sizing: border-box;
}

body {
	font-family: 'Raleway', sans-serif;
}


.clearfix::before,
.clearfix::after,
.row::before,
.row::after {
	clear: both;
	display: table;
	content: '';
}

.logo {
	color: white;
	width: 198px;
	height: 11px;
	line-height: 21px;
	text-transform: uppercase;
	font-weight: 600;
	float: left;
}
.logo span {
	color: #27c7ab;
font-weight: 700;
}

.site-header {
	height: 51px;
	background-color: black;
	padding-top: 16px
}


.container {
	width: 1054px;
	margin: 0 auto;
}

.site-menu li {
		display: inline-block;
		margin: 0 5px;
		text-transform: uppercase;
		padding-right: 26px;
		font-weight: 600;
}


.site-menu {
	float: right;
	list-style: none;
	color: white;
	position: relative;
}

.site-menu > ul {
	display: inline-block;
}

.site-menu ul li{
position: relative;
}

#submenu{
	position: absolute;
	display: block;
	background-color: black;
	top: 45px;
	left: -40px;
	padding: 13px;
	padding-right: 0;
	
}

#submenu::before {
	content: '';
	width: 0;
	height: 0;
	position: absolute;
	top: -10px;
	left: 60px;
	border-style: solid;
	border-width: 0 10px 10px 10px;
	border-color: transparent transparent black transparent;
}

#submenu li {
	font-size: 16px;
	font-weight: 300;
	line-height: 30px;
	text-transform: capitalize;
}

#hero {
	padding-top: 107px;
	height: 500px;
	background-image: linear-gradient(to top, #d0cfd7 0%, #eeeef0 34%, #fafafa 100%);
}
#hero img {

}
.pic {
	float: left;
	width: 50%;

}
.text {
	float:left;
	width: 50%;
}
.text h1 {
	padding-top: 36px;
	font-size: 40px;
	font-weight: 500;
}

.text h1 span {
	color: #27c7ab;
	font-weight: 700;
}

.more {
	height: 52px;
	width: 264px;
	border-radius: 10px;
	background-color: #24baa0;
	margin: 0 auto;
	text-transform: uppercase;
	font-size: 24px;
	color: white;
	font-weight: 200;
	border: none;
	letter-spacing: 2px;
	display: block; 
	margin: 0 auto;
	margin-top: 33px
}

#middle {
	height: 330px;
	/*background-color: blue*/;
}
.smpic {
	float: left;
	width: 33.33%;
	margin-top: 28px;
	position: relative;
}
.note {
	width: 100px;
	background-color: rgba(255, 255, 255, 0.42);
	position: absolute;
	bottom: 10px;
	width: 350px;
  height: 62px;
  padding-top: 16px;
}

.note span {
	padding-top: 16px;
	padding-left: 10px
}

.note span::after {
	content: "";
	background-color:#27c7ab;
	width: 138px;
	height: 7px;
	z-index: 2;
	display: block;
	opacity: 0.9 !important;
	margin-left: 10px;

}
.withtext {
width: 340px;
height: 254px;
border: 1px solid rgba(0, 0, 0, 0.14);
padding: 20px;
}

.withtext span {
	font-size: 20px;
}

.note1 span::after {
	content: "";
	background-color:#27c7ab;
	width: 138px;
	height: 7px;
	z-index: 2;
	display: block;
	opacity: 0.9 !important;
}
.inside {
	padding-top: 15px;
}
.inside2 {
	padding-top: 29px;
}

#offer {
	height: 725px;
  background-color: #f1f1f1;
}

#intro {
width: 81px;
height: 17px;
color: #575757;
font-size: 22px;
font-weight: 500;
line-height: 20px;
text-transform: uppercase;
padding-top: 48px;
position: relative;
float: left;
clear: both;
}

#intro::after {
	content: "";
	background-color:#27c7ab;
	width: 320px;
	height: 8px;
	z-index: 2;
	display: block;
	opacity: 0.9 !important;
}

.up {
	margin-top: 75px;
}


.item {
	width: 320px;
	border: 3px solid #c2c2c2;
	padding: 20px;
	position: relative;
	float: left;
	height: 497px;
	background-color: #f9f9f9;
	margin-right: 31px;
}
.item h2 {
height: 19px;
color: #27c7ab;
font-size: 26px;
font-weight: 400;
line-height: 20px;
text-align: center;
margin-top: 20px;
}
.price {
width: 131px;
height: 131px;
line-height: 131px;
border: 1px solid #c2c2c2;
margin-top: 15px;
text-align: center;
position: relative;
top: 5px;
left: 70px;
border-radius: 50%;
line-height: 95px;
color: #c2c2c2;
}
.price span {
	font-size: 45px;
	font-weight: 700;
	
}
sup {
	font-size: 16px;
}
#pln {
	font-size: 14px;
	top: -75px;
	position: relative;

}

.itemLine {
	width: 314px;
	height: 46px;
	background-color: #e4e4e4;
	text-align: center;
	margin-left: -20px;
	line-height: 46px;
	text-transform: uppercase;
	margin-top: 35px;
	font-weight: 400;
	color: #939393;
}

.noMargin{
	margin-top: 0px !important;
	background-color: #f1f1f1;
	color: #787878
}

.darkColor {
	background-color: #e4e4e4;
	color: #939393;
	margin-top: 0px !important;
}




button {
	position:relative;
  margin-top: 81px; 
  left:25%;
  width: 122px;
	height: 34px;
	border-radius: 7px;
	background-color: #27c7ab;
	border:none
}

button span {
width: 64px;
height: 15px;
color: #ffffff;
font-family: Raleway;
font-size: 16px;
font-weight: 500;
line-height: 20px;
text-transform: uppercase;
font-weight: 300;
}

.middleButton {
	margin-top: 55px; 
}
.lastButton {
	margin-top: 10px; 
}

.white-circle {
	height: 57px;
	width: 57px;
	border: 3px solid #c2c2c2;
	border-radius: 50%;
	position: absolute;
	top: -30px;
	left: 130px;
	background-color: white;
}
.black-circle {
	width: 26px;
	height: 26px;
	background-color: #c2c2c2;
	border-radius: 50%;
	position: absolute;
	top: -15px;
	left: 146px;

}

.left {
	float: left;
}
.name {
width: 635px;
height: 66px;
border: 1px solid rgba(36, 186, 160, 0.42);
margin-top: 100px;
}
span.inname {
	width: 60px;
	height: 30px;
	color: #cacaca;
	font-size: 33px;
	font-weight: 300;
	line-height: 66px;
	padding-left: 17px;
}
.marg {
	margin-top: 26px;
}
.higher {
	height: 189px;
}

.right {
	float: left;
	margin-top: 62px;
	margin-left: 62px;
}
.formOk {
	float: left;
	border: 1px solid rgba(36, 186, 160, 0.42);
	margin-right: 13px;
}
.chair {
float: right;
width: 274px;
height: 40px;
color: #aeaeae;;
font-size: 18px;
font-weight: 300;
line-height: 22px;
}

#send {
	text-align: center;
	left: 5%;
	width: 343px;
	height: 71px;
	border-radius: 8px;

}
#send span {
	width: 122px;
height: 33px;
color: #ffffff;
font-size: 34px;
font-weight: 700;
line-height: 20px;
text-transform: uppercase;
}


.copy {
margin-top: 50px;
color: #9b9b9b;
font-size: 16px; /* Approximation due to font substitution */
font-weight: 500;
line-height: 21.37px; /* Approximation due to font substitution */
text-align: left;
font-family: Raleway;
color: #9b9b9b;
font-size: 16px; /* Approximation due to font substitution */
font-weight: 400;
line-height: 21.37px; /* Approximation due to font substitution */
text-align: left;
width: 631px;
float: left;

}
.social {
	float: left;
	margin-top: 50px;
	width: 350px;
	margin-left: 50px;

}
.social span {

color: #9b9b9b;
font-size: 20px; /* Approximation due to font substitution */
font-weight: 600;
line-height: 32px; /* Approximation due to font substitution */
color: #9b9b9b;
font-size: 20px; /* Approximation due to font substitution */
text-align: right;
float: right;

}


































